.container{

    max-width: 100%;
}
.monarch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.icon{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(141 177 171);
    background-color: rgb(141 177 171);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arc{
    color: rgb(141 177 171);
}

.menu ul{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 45px;
}
.menu li:hover{
    cursor: pointer;
    color:rgb(141 177 171);
}
.home{
    color:rgb(141 177 171) ;
}
.container{
  width: 90%;
  margin: 0 3%;
}
.main{
 
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 10px;
    
}
   


.image{
    width: 448px;
    height: 219px;
    position: relative;
    
}
.image img{
    width: 100%;
    height: 100%;
    
    
}

.im{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    z-index: 2;
    margin-top: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    

}

.image:hover .im{
display: flex;
justify-content: center;
align-items: center;
transition: 500ms;
opacity: 1;
cursor: pointer;


}

.footer{
    width: 100%;
}
.foot{
    margin-left: 10%;
}
.foot p{
    font-size: 20px;
}
.foot h3{
    font-size: 30px;
}

.ico{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic{
    display: flex;
    align-items: center;
    gap: 8px;
}

div .foott h3{
    display: flex;
    justify-content: end;
    margin-top: -175px;
    font-size: 30px;
    margin-right: 800px;
}

.fo{
    display: flex;
    justify-content: end;
    margin-right: 870px;
    font-size: 20px;
}

.foott span{
    display: flex;
    justify-content: end;
    margin-right: 670px;
    font-size: 20px;
    margin-top: -228px;
}
.foo{
    display: flex;
    justify-content: end;
    margin-right: 450px;
    font-size: 20px;
    margin-top: -228px;
}

.bitti{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 150px;
}