body{
    max-width: 1500px;
}

nav{
    max-width: 1500px;

}

main{
    max-width: 1500px;
}
.container{

    max-width: 1500px;
}
.monarch{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.icon{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(141 177 171);
    background-color: rgb(141 177 171);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arc{
    color: rgb(141 177 171);
}

.menu ul{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 45px;
}
.menu li:hover{
    cursor: pointer;
    color:rgb(141 177 171);
}
.home{
    color:rgb(141 177 171) ;
}
.container{
  max-width: 90%;
  margin: 0 3%;
}
.main{
    
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 10px;
    max-width: 1500px;
    margin-left: 3%;
}
 
@media screen and (max-width: 1400px) {
    .main {

        display: grid;
        grid-template-columns: auto auto auto;
        place-content: center;
    }
  }

  @media screen and (max-width: 1031px) {
    .main {

        display: grid;
        grid-template-columns: auto auto ;
        place-content: center;
    }
  }

  @media screen and (max-width: 680px) {
    .main {

        display: grid;
        grid-template-columns: auto  ;
        place-content: center;
    }
  }


.image{
   width: 325px;
    height: 119px;
    position: relative;
    
    
}
.image img{
    width: 325px;
    height: 100%;
    
    
}

.im{
    width:100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    z-index: 2;
    margin-top: -38%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    

}

.image:hover .im{
display: flex;
justify-content: center;
align-items: center;
transition: 500ms;
opacity: 1;
cursor: pointer;


}

.footer{
    max-width: 100%;
}
.foot{
    margin-left: 10%;
}
.foot p{
    font-size: 20px;
}
.foot h3{
    font-size: 30px;
}
.foott{
    margin-left: 60%;
    max-width: 300px;
    margin-top: -12%;
}

@media screen and (max-width: 1000px) {
    .foott {

        margin-left: 60%;
        max-width: 300px;
        margin-top: -5%;
    }
  }

  @media screen and (max-width: 600px) {
    .foott {

        margin-left: 10%;
        max-width: 300px;
        margin-top: 5%;
    }
  }
.you{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ico{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic{
    display: flex;
    align-items: center;
    gap: 8px;
}



.bitti{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 150px;
}